<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/images/netflix.svg" type="image/x-icon">
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="navbar">
                <div class="navlogo">
                    <div class="logo"><a href="/"><img src="/images/Logonetflix.png" alt="logo"></a></div>
                </div>
                <div class="nav-menu">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/tvshow">TV Show</a></li>
                    <li><a href="movies">Movies</a></li>
                    <li><a href="latest">Latest</a></li>
                </div>
                <div class="nav-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-bell"></i>
                    <div class="dropdown">
                        <p><a class="dropbtn" href="/account">Account</a></p>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="hero-msg">
            <h1>STRANGER THINGS 4</h1>
            <p>When a young boy vanishes, a small town uncovers a mystery involving secret experiments, terrifying
                supernatural forces and a strange little girl.</p>
        </div>
        <div class="buttons">
            <div class="play-button">
                <form action="/play" method="get">
                    <button>
                        <i class="fa-solid fa-play"></i>
                        <a>Play</a>
                    </button>
                </form>
            </div>
            <div class="mylist">
                <form action="/mylist" method="get">
                    <button>
                        <i class="fa-solid fa-plus"></i>
                        <a>My List</a>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="heading1">
        <p>Popular on Netflix</p>
    </div>
    <div class="content-sec">
        <div class="box">
            <div class="box-img"><img src="/images/download.jpeg" alt=""></div>
        </div>
        <div class="box">
            <div class="box-img"><img src="/images/enola holmes 2.jpeg" alt=""></div>
        </div>
        <div class="box">
            <div class="box-img"><img src="/images/wednesday.jpeg" alt=""></div>
        </div>
        <div class="box">
            <div class="box-img"><img src="/images/strangerthings.jpeg" alt=""></div>
        </div>
        <div class="box">
            <div class="box-img"><img src="/images/the gray man.jpeg" alt=""></div>
        </div>
        <div class="box">
            <div class="box-img"><img src="/images/the man from toranto.jpeg" alt=""></div>
        </div>
        <div class="box">
            <div class="box-img"><img src="/images/furioza.jpeg" alt=""></div>
        </div>
        <div class="box">
            <div class="box-img"><img src="/images/troll.jpeg" alt=""></div>
        </div>
        <div class="box">
            <div class="box-img"><img src="/images/black crab.jpeg" alt=""></div>
        </div>
        <div class="box">
            <div class="box-img"><img src="/images/carter.jpeg" alt=""></div>
        </div>
    </div>
    <div class="heading2">
        <p>Trending Now</p>
    </div>
    <div class="content-sec1">
        <div class="box1">
            <div class="box-img1"><img src="/images/download.jpeg" alt=""></div>
        </div>
        <div class="box1">
            <div class="box-img1"><img src="/images/they clone.jpeg" alt=""></div>
        </div>
        <div class="box1">
            <div class="box-img1"><img src="/images/the mother.jpeg" alt=""></div>
        </div>
        <div class="box1">
            <div class="box-img1"><img src="/images/a man.jpeg" alt=""></div>
        </div>
        <div class="box1">
            <div class="box-img1"><img src="/images/the magician elephent.jpeg" alt=""></div>
        </div>
    </div>
    <footer>
        <div class="foot-panel">
            <div class="sec1">
                <p>Questions? Call 000-800-919-1694</p>
            </div>
            <div class="sec2">
                <ul>
                    <a>FAQ</a>
                    <a>Media Centre</a>
                    <a>Ways to Watch</a>
                    <a>Cookie Preferences</a>
                    <a>Speed Test</a>
                </ul>
                <ul>
                    <a>Help Centre</a>
                    <a>Investor Relations</a>
                    <a>Terms of Use</a>
                    <a>Corporate Informations</a>
                    <a>Legal Notices</a>
                </ul>
                <ul>
                    <a>Accounts</a>
                    <a>Jobs</a>
                    <a>Privacy</a>
                    <a>Contact Us</a>
                    <a>Only on Netflix</a>
                </ul>
            </div>
            <div class="sec3">
                <div class="lang-icon">
                    <i class="fa-solid fa-globe"></i>
                    <select name="lang">
                        <option>English</option>
                    </select>
                </div>
            </div>
            <div class="sec4">
                <p>Netflix India</p>
            </div>
        </div>
    </footer>
</body>

</html>