<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix India - Watch TV Shows Online, Watch Movies Online</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/Netflix/public/images/netflix-logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="/Netflix/public/styles/main.css">
</head>

<body>
    <div class="hero-section">
        <header>
            <div class="navbar">
                <div class="navlogo">
                    <div class="logo"><img src="/Netflix/public/images/Logonetflix.png" alt="logo"></div>
                </div>
                <div class="lng-user">
                    <div class="lang-change">
                        <i class="fa-solid fa-globe"></i>
                        <select name="sel-lang">
                            <option>English</option>
                        </select>
                    </div>
                    <div class="user-auth">
                        <button>Sign in</button>
                    </div>
                </div>
            </div>
        </header>
        <div class="hero-msg">
            <h1>Unlimited movies, TV shows and more</h1>
            <h3>Watch anywhere. Cancel anytime.</h3>
            <p>Ready to watch? Enter your email to create or restart your membership.</p>
            <div class="msg">
                <input type="text" placeholder="Email address">
                <button>Get Started </button>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-sec">
            <div class="text">
                <h1>Enjoy on your TV</h1>
                <h3>Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</h3>
            </div>
            <div class="image" style="background-image: url('/Netflix/public/images/tv.png');"></div>
        </div>
    </div>
    <div class="content">
        <div class="content-sec">
            <div class="image" style="background-image: url('/Netflix/public/images/mobile-0819.png');"></div>
            <div class="text">
                <h1>Download your shows to watch offline</h1>
                <h3>Save your favourites easily and always have something to watch.</h3>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-sec">
            <div class="text">
                <h1>Watch everywhere</h1>
                <h3>Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV.</h3>
            </div>
            <div class="image" style="background-image: url('/Netflix/public/images/device-pile-in.png');"></div>
        </div>
    </div>
    <div class="content">
        <div class="content-sec">
            <div class="image" style="background-image: url('/Netflix/public/images/cartoon.png');"></div>
            <div class="text">
                <h1>Create profiles for kids</h1>
                <h3>Send children on adventures with their favourite characters in a space made just for them—free with
                    your membership.</h3>
            </div>
        </div>
    </div>
    <div class="FAQ">
        <h1>Frequently Asked Questions</h1>
        <div class="question">
            <p>What is Netflix?</p>
            <i class="fa-solid fa-plus"></i>
        </div>
        <div class="question">
            <p>How much does Netflix costs?</p>
            <i class="fa-solid fa-plus"></i>
        </div>
        <div class="question">
            <p>Where can I watch?</p>
            <i class="fa-solid fa-plus"></i>
        </div>
        <div class="question">
            <p>How do I cancel?</p>
            <i class="fa-solid fa-plus"></i>
        </div>
        <div class="question">
            <p>What can I watch on Netflix?</p>
            <i class="fa-solid fa-plus"></i>
        </div>
        <div class="question">
            <p>Is Netflix good for kids?</p>
            <i class="fa-solid fa-plus"></i>
        </div>
        <div class="subs">
            <p>Ready to watch? Enter your email to create or restart your membership.</p>
            <div class="msg">
                <input type="text" placeholder="Email address">
                <button>Get Started </button>
            </div>
        </div>
    </div>
    <footer>
        <div class="foot-panel">
            <div class="sec1">
                <p>Questions? Call 000-800-919-1694</p>
            </div>
            <div class="sec2">
                <ul>
                    <a>FAQ</a>
                    <a>Media Centre</a>
                    <a>Ways to Watch</a>
                    <a>Cookie Preferences</a>
                    <a>Speed Test</a>
                </ul>
                <ul>
                    <a>Help Centre</a>
                    <a>Investor Relations</a>
                    <a>Terms of Use</a>
                    <a>Corporate Informations</a>
                    <a>Legal Notices</a>
                </ul>
                <ul>
                    <a>Accounts</a>
                    <a>Jos</a>
                    <a>Privacy</a>
                    <a>Contact Us</a>
                    <a>Only on Netflix</a>
                </ul>
            </div>
            <div class="sec3">
                <div class="lang-icon">
                    <i class="fa-solid fa-globe"></i>
                    <select name="lang">
                        <option>English</option>
                    </select>
                </div>
            </div>
            <div class="sec4">
                <p>Netflix India</p>
            </div>
        </div>
    </footer>
</body>

</html>