<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/images/netflix.svg" type="image/x-icon">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="navbar">
                <div class="navlogo">
                    <div class="logo"><img src="/images/Logonetflix.png" alt="logo"></div>
                </div>
            </div>
        </header>
        <div class="box">
            <form action="/register" method="post">
                <div class="box-content">
                    <h1>Sign Up</h1>
                    <input type="email" placeholder="Email or phone number" name="username">
                    <input type="password" placeholder="Password" name="password">
                    <button type="submit">Sign Up</a></button>
                </div>
            </form>
            <div class="sign-up-sec">
                <p>Already have an account?</p>
                <a href="/login">Sign In</a>
            </div>
        </div>
        <footer>
            <div class="foot-panel">
                <div class="sec1">
                    <p>Questions? Call 000-800-919-1694</p>
                </div>
                <div class="sec2">
                    <ul>
                        <a>FAQ</a>
                        <a>Cookie Preferences</a>
                    </ul>
                    <ul>
                        <a>Help Centre</a>
                        <a>Corporate Informations</a>
                    </ul>
                    <ul>
                        <a>Term of Use</a>
                    </ul>
                    <ul>
                        <a>Privacy</a>
                    </ul>
                </div>
                <div class="sec3">
                    <div class="lang-icon">
                        <i class="fa-solid fa-globe"></i>
                        <select name="lang">
                            <option>English</option>
                        </select>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</body>

</html>