@font-face {
    font-family: "netflix";
    src: url("/fonts/main/NetflixSans-Regular.otf");
}
@font-face {
    font-family: "netflix1";
    src: url("/fonts/main/NetflixSans-Bold.otf");
}

@font-face {
    font-family: "strangerthings";
    src: url("/fonts/ITC Benguiat/BenguiatStd-Bold.otf");
}

* {
    margin: 0;
    font-family: "netflix", "netflix1";
    border: border-box; 
    
}

/* body */

header{
    position: sticky;
    top: 0;
}

body{
    background: #2d2d2d;
    color: #fff;
}

.container {
    height: 700px;
    width: 1519px;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) ,url("/images/stranger-things.jpg");
}

.navbar {
    height: 75px;
    display: flex;
    background-color: #000;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    height: 30px;
    width: 100px;
}

.logo img{
    padding-left: 40px;
    padding-top: 10px;
    height: 35px;
    width: 148px;
}

.nav-menu{
    padding-bottom: 10px;
    display: flex;
    height: 30px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.nav-menu li{
    list-style: none;
}
.nav-menu li a{
    font-size: 1.1rem;
    color: #ffffffB3;
    text-decoration: none;
}

.nav-search{
    display: flex;
    padding-right: 40px;
    gap: 15px;
    color: #ffffffB3;
}

/* .hero-msg */


.hero-msg{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;
    height: 310px;
    text-align: center;
    width: 535.6px;
}

.hero-msg h1{
    padding-top: 30px;
    font-family: "strangerthings";
    font-size: 5rem;
}

.hero-msg p{
    text-align: start;
    margin-left: 30px;
    font-size: 1.3rem;
    padding-left: 10px;
}

.buttons{
    margin-left: 39px;
    height: 75px;
    width: 400px;
    display: flex;
    gap: 15px;
    justify-content: baseline;
    align-items: center;
}

.play-button button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 120px;
    border: none;
    background-color: #f6f6f6;
    border-radius: 5px;
}

.play-button button i{
    color: #000;
    font-size: 1.3rem;
    padding-right: 10px;
}

.play-button button a{
    color: #000;
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
}


.mylist button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 160px;
    border: none;
    background-color: rgba(128, 124, 124, 0.525);
    border-radius: 5px;
}

.mylist button i{
    color: #f6f6f6;
    font-size: 1.5rem;
    font-weight: lighter;
    padding-right: 10px;
}

.mylist button a{
    color: #f6f6f6;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
}

/* content */

.content-sec{
    margin: 0px 45px;
    height: fit-content;
    width: 1420px;
    display: flex;
}

.box{
    padding: 12px;
    height: 150px;
    width: 260px;
}

.box-img img{
    cursor: pointer;
    margin-top: 20px;
    height: 150px;
    border-radius: 10px;
    background-size: cover;
    width: 100%;
}

.box-img img:hover{
    background-color: #2c2929;
    opacity: 0.8;
}

.heading1{
    height: 20px;
    margin-left: 18px;
    padding: 30px 0px 0px 40px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #f6f6f6;
}


/* .content-sec1 */


.content-sec1{
    margin: 0px 45px;
    height: 300px;
    width: 1420px;
    display: flex;
}

.box1{
    padding: 12px;
    height: 150px;
    width: 260px;
}

.box-img1 img{
    cursor: pointer;
    margin-top: 20px;
    height: 150px;
    border-radius: 10px;
    background-size: cover;
    width: 100%;
}

.box-img1 img:hover{
    background-color: #2c2929;
    opacity: 0.8;
}

.heading2{
    height: 20px;
    margin-left: 18px;
    padding: 30px 0px 0px 40px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #f6f6f6;
}

/* foot-panel */

footer{
    background-color: #000;
    width: 1519px;

}

.foot-panel{
    height: 360px;
    margin: 0px 174px;
    width: 1170px;
    padding: 60px 0px;
    color: #ffffffB3;
}

.sec1{
    height: 44px;
    font-size: 1.1rem;
}

.sec2{
    display: flex;
    height: 177px;
    width: 1100px;
    /* justify-content: space-between; */
    padding: 12px 0px;
    /* align-items: center; */

}

.sec2 ul a{
    display: block;
    font-size: 0.90rem;
    width: 382px;
    padding: 9px 0px;
    text-decoration: underline;
}

.sec2 ul{
    padding-inline-start: 0px;
}

.sec3{
    display: flex;
    margin: 22px 0px;
    padding: 22px 0px;
    justify-content: baseline;
    gap: 20px;
}

.lang-icon{
    border: 1px solid gray;
    border-radius: 4px;
    padding: 0px 5px;
    display: flex;
    height: 32px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.lang-icon i{
    height: 16px;
    width: 16px;
    font-size: 1.2rem;
    color: white;
}

.lang-icon select{
    background-color: transparent;
    color: white;
    font-size: 1rem;
    border: none;
    height: 28px;
    width: 90px;
}

.sec4 p{
    font-size: 0.90rem;
}


/* Design for larger than 1519px devices */


@media only screen and (min-width: 1540px) {

    .container {
        height: 1400px;
        width: 3038px;
    }
    
    .navbar {
        height: 150px;
    }
    
    .nav-logo {
        height: 60px;
    }
    
    .logo img{
        padding-left: 80px;
        padding-top: 20px;
        height: 70px;
        width: 296px;
    }
    
    .nav-menu{
        padding-bottom: 20px;
        height: 60px;
    }

    .nav-menu li a{
        font-size: 2.1rem;
    }
    
    .nav-search{
        padding-right: 80px;
        font-size: 2.1rem;
    }
    
    /* .hero-msg */
    
    
    .hero-msg{
        margin-top: 60px;
        height: 620px;
        width: 1070.12px;
    }
    
    .hero-msg h1{
        padding-top: 60px;
        font-size: 10rem;
    }
    
    .hero-msg p{
        margin-left: 60px;
        font-size: 2.3rem;
        padding-left: 20px;
    }
    
    .buttons{
        margin-left: 78px;
        height: 150px;
        width: 800px;
    }
    
    .play-button button{
        height: 90px;
        width: 240px;
        border-radius: 8px;
    }
    
    .play-button button i{
        font-size: 2.3rem;
        padding-right: 20px;
    }
    
    .play-button button a{
        font-size: 2.3rem;
    }
    
    .mylist button{
        height: 90px;
        width: 320px;
        border-radius: 8px;
    }
    
    .mylist button i{
        font-size: 2.5rem;
        padding-right: 20px;
    }
    
    .mylist button a{
        font-size: 2.4rem;
    }
    
    /* content */
    
    .content-sec{
        margin: 0px 90px;
        width: 2840px;
    }
    
    .box{
        padding: 24px;
        height: 300px;
        width: 520px;
    }
    
    .box-img img{
        margin-top: 40px;
        height: 300px;
    }
    
    .heading1{
        height: 40px;
        margin-left: 36px;
        padding: 60px 0px 0px 80px;
        font-size: 2.5rem;
    }
    
    
    /* .content-sec1 */
    
    
    .content-sec1{
        margin: 0px 90px;
        height: 600px;
        width: 2840px;
    }
    
    .box1{
        padding: 24px;
        height: 300px;
        width: 520px;
    }
    
    .box-img1 img{
        margin-top: 40px;
        height: 300px;
    }
    
    .heading2{
        height: 40px;
        margin-left: 36px;
        padding: 60px 0px 0px 80px;
        font-size: 2.5rem;
    }
    
    /* foot-panel */
    
    footer{
        width: 3038px;
    
    }
    
    .foot-panel{
        height: 720px;
        margin: 0px 348px;
        width: 2340px;
        padding: 120px 0px;
    }
    
    .sec1{
        height: 88px;
        font-size: 2.1rem;
    }
    
    .sec2{
        height: 354px;
        width: 2200px;
        padding: 24px 0px;
    }
    
    .sec2 ul a{
        font-size: 1.9rem;
        width: 764px;
        padding: 18px 0px;
    }
    
    .sec3{
        margin: 44px 0px;
        padding: 44px 0px;
    }
    
    .lang-icon{
        height: 64px;
    }
    
    .lang-icon i{
        height: 32px;
        width: 32px;
        font-size: 2.2rem;
    }
    
    .lang-icon select{
        font-size: 2rem;
        height: 56px;
        width: 180px;
    }
    
    .sec4 p{
        font-size: 1.9rem;
    }
}


/* Design for smaller than 540px devices */


@media only screen and (max-width: 912px) {

    .container {
        height: 1400px;
        width: 1420px;
    }
    
    .navbar {
        height: 150px;
    }
    
    .nav-logo {
        height: 60px;
    }
    
    .logo img{
        padding-left: 80px;
        padding-top: 20px;
        height: 70px;
        width: 296px;
    }
    
    .nav-menu{
        padding-bottom: 20px;
        height: 60px;
    }
    
    .nav-menu li a{
        font-size: 2.1rem;
    }
    
    .nav-search{
        padding-right: 80px;
        font-size: 2.1rem;
    }
    
    /* .hero-msg */
    
    
    .hero-msg{
        margin-top: 120px;
        justify-content: center;
        height: 620px;
        width: 750px;
    }
    
    .hero-msg h1{
        padding-top: 60px;
        font-size: 7rem;
    }
    
    .hero-msg p{
        margin-left: 60px;
        font-size: 2rem;
    }
    
    .buttons{
        margin-left: 78px;
        height: 100px;
        width: 600px;
    }
    
    .play-button button{
        height: 80px;
        width: 200px;
    }
    
    .play-button button i{
        font-size: 2.3rem;
    }
    
    .play-button button a{
        font-size: 2.3rem;
    }
    
    
    .mylist button{
        height: 80px;
        width: 220px;
    }
    
    .mylist button i{
        font-size: 2.4rem;
    }
    
    .mylist button a{
        font-size: 2.2rem;
    }
    
    /* content */
    
    .content-sec{
        margin: 0px 20px;
        margin-top: 20px;
        width: 1360px;
        justify-content: center;
    }

    .heading1{
        margin-left: 0px;
        margin-top: 80px;
        font-size: 2rem;
    }
    
    
    /* .content-sec1 */
    
    
    .content-sec1{
       margin: 0px 20px; 
       margin-top: 20px;
       width: 1360px;
       justify-content: center;
    }
    
    .heading2{
        margin-left: 0px;
        margin-top: 80px;
        font-size: 2rem;
    }
    
    /* foot-panel */
    
    footer{
        background-color: #000;
        width: 1420px;
    
    }
    
    .foot-panel{
        height: 700px;
        width: 1100px;
        margin: 0px 100px;
        padding: 100px 0px;
        margin-top: 100px;
    }
    
    .sec1{
        height: 50px;
        font-size: 1.7rem;
    }
    
    .sec2{
        height: 200px;
        padding: 40px 0px;
    }
    
    .sec2 ul a{
        font-size: 1.5rem;
        padding: 18px 0px;
    }

    .sec3{
        display: none;
    }
    
    .sec4 {
        display: none;
    }
}